<nav class="navbar navbar-expand-md navbar-light bg-white" id="top">
  <a class="navbar-brand" href="{{ site.baseurl }}/">
    <div class="logo-container d-inline-block align-top">
      <img src="{{ site.baseurl }}/img/20180111-logo-djacquel-36b1ccff-omg.svg" alt="{{ site.title }}">
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="">Menu</span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      {% assign pages = site.pages | sort: 'weight' %}
      {% for p in pages %}
        {% if p.menu == 'main' %}
          <li class="nav-item{% if p.url == page.url %}  active{% endif %}">
             <a class="nav-link" href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}
             {% if p.url == page.url %} <span class="sr-only">(current)</span>{% endif %}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
