
<div class="d-none alert alert-primary">Hidden on all</div>
<div class="d-none d-sm-block alert alert-primary">Hidden only on xs</div>
<div class="d-sm-none d-md-block alert alert-primary">Hidden only on sm</div>
<div class="d-md-none d-lg-block alert alert-primary">Hidden only on md</div>
<div class="d-lg-none d-xl-block alert alert-primary">Hidden only on lg</div>
<div class="d-xl-none alert alert-primary">Hidden only on xl</div>
<div class="d-block alert alert-success">Visible on all</div>
<div class="d-block d-sm-none alert alert-success">Visible only on xs</div>
<div class="d-none d-sm-block d-md-none alert alert-success">Visible only on sm</div>
<div class="d-none d-md-block d-lg-none alert alert-success">Visible only on md</div>
<div class="d-none d-lg-block d-xl-none alert alert-success">Visible only on lg</div>
<div class="d-none d-xl-block alert alert-success">Visible only on xl</div>
